body{
  font-family: Arial;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  background-color: #ddd;
}
nav li {
  padding: 1em;
  color: black;
}
nav a {
  color: inherit;
}
/*1.multiple selector*/
/*nav li:hover {
  background-color: black;
  color: white
}

nav li:hover a {
  color: white;
}*/


/*2.inheritance*/
nav li:hover {
  background-color: black;
  color: white;
}